---
import Cards from "../components/cards.astro";
import Welcome from "../components/cards.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="header">
    <nav class="nav">
      <div class="logo">
        <a href="index.astro">
          <img src="/logo.png" alt="WeShelterLogo" />
        </a>
      </div>

      <ul class="menu">
        <li class="dropdown">
          <button class="dropbtn">Er du hjemløs?</button>
          <div class="dropdown_content">
            <a href="#">Få hjælp til bolig</a>
            <a href="#">Få hjælp til jobsøgning</a>
            <a href="#">- - -</a>
          </div>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Bliv Frivillig</button>
          <div class="dropdown_content">
            <a href="#">Bliv frivillig støtte person</a>
            <a href="#">Bliv frivillig aktivitets udøver</a>
            <a href="#">Bliv frivillig</a>
          </div>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Vores arbejde</button>
          <div class="dropdown_content">
            <a href="#">- - -</a>
            <a href="#">- - -</a>
            <a href="#">- - -</a>
          </div>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Muligheder for støtte</button>
          <div class="dropdown_content">
            <a href="#">Bidrag økonomisk</a>
            <a href="#">Doner tøj</a>
            <a href="#">Bliv frivillig</a>
          </div>
        </li>
        <button class="støtte-btn">GIV DIN STØTTE</button>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero-section">
      <div class="hero-content">
        <h1>Gør En Forskel</h1>
        <h2>Bliv Frivillig</h2>
      </div>
    </section>

    <section class="article-1">
      <Cards
        overtekst="TAK FOR DIG"
        tekst="Vær med til at hjælpe mennesker og være en del af et stærkt fællesskab. Uanset om du har et par timer om måneden eller om ugen, er der plads til dig. 
		Vi tror på, at frivillige kan noget ganske særligt. For os er frivillighed et redskab, der bidrager med nytænkning, kreativitet og frie rum, hvor  brugere og frivillige mødes som medborgere og ikke som klient og  professionel.  
		Som frivillig er du med at skabe nye sociale fællesskaber, vise vejen til et mere indholdsrigt liv og bryde den ensomhed, der ofte følger med, når man er hjemløs."
        img="/stærk_arm.svg"
        <!-----jeg
        er
        nået
        hertil
        -------
      >
        />
        <section></section>
      </Cards>

      <style>
        /*header*/
        .logo img {
          height: 100px;
        }
        .header {
          background-color: #ffffff;
          padding: 1rem;
        }
        .nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .nav .menu {
          list-style: none;
          display: flex;
          gap: 1rem;
          margin: 0;
          padding: 0;
        }
        .dropdown {
          position: relative;
        }
        .dropbtn {
          background: none;
          color: #333333;
          border: none;
        }
        .støtte-btn {
          background: #810b0b;
          color: #ffffff;
          border: none;
        }
        .dropbtn:hover {
          background: none;
          color: #333333;
          border: none;
          font-size: 1rem;
        }
        .dropdown_content {
          display: none;
          position: absolute;
          background-color: #ffffff;
          min-width: 160px;
          z-index: 1;
          flex-direction: column;
        }
        .dropdown_content a {
          color: #333333;
          padding: 0.5rem 1rem;
          text-decoration: none;
          display: block;
        }
        .dropdown:hover .dropdown_content {
          display: flex;
        }
        .dropdown_content a:hover {
          background-color: #ffffff;
        }

        /*herosection*/
        .hero-section {
          position: relative;
          background-image: url("../public/hero.png");
          background-size: contain; /* Sørger for, at billedet dækker hele området */
          background-position: center; /* Centrerer billedet */
          background-repeat: no-repeat;
          height: 80vh;
          margin: 0;
          padding: 0;
        }
        .hero-content {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #ffffff;
          text-align: center;
          padding: 20px;
          z-index: 1;
        }
        .hero-content h1 {
          font-size: 5rem;
          margin: 0;
          padding: 0;
        }
        .hero-content h2 {
          font-size: 3.5rem;
          margin: 0;
          padding: 0;
        }

        /**/
      </style>
    </section>
  </main>
</Layout>
